## `namedtuple`

In [2]:
from collections import namedtuple
# Returns a new subclass of tuple with named fields.
# It is useful when tou have very much tuples which
# have a common blueprint
# If the numbers are very low, dictionary is very better.

In [3]:
User = namedtuple('User', ['fname', 'lname', 'age'])
user1 = User(fname='Khosro', lname='HosseinAbadi', age=31)
print(user1)
print(User._fields)
print(user1.fname, user1.lname, user1.age)
print(user1[0], user1[1], user1[2])

User(fname='Khosro', lname='HosseinAbadi', age=31)
('fname', 'lname', 'age')
Khosro HosseinAbadi 31
Khosro HosseinAbadi 31

In [4]:
user1.fname = 'Ali'

AttributeError: can't set attribute

In [5]:
user2 = user1._replace(fname='Ali')
print(user1)
print(user2)

User(fname='Khosro', lname='HosseinAbadi', age=31)
User(fname='Ali', lname='HosseinAbadi', age=31)