# The Components of Replacement Field `{}` in `.format()`.
## `{name!conversion:format_spec}`

---

## `name` component of `{}`

### Best Practice

In [31]:
text = 'My name is {}. I am {} years old'.format('Khosro', 31)
print(text)
print('-'*50)


text = 'My name is {name}. I am {age} years old'
text = text.format(age=31, name='Khosro')
print(text)
print('-'*50)

My name is Khosro. I am 31 years old
--------------------------------------------------
My name is Khosro. I am 31 years old
--------------------------------------------------

### Not Best Practice
- **positional and keyword argument**

In [35]:
text = 'My name is {0}. I am {1} years old'.format('Khosro', 31)
print(text)
print('-'*50)

text = 'My name is {1}. I am {0} years old'.format(31, 'Khosro')
print(text)
print('-'*50)

text = 'My name is {name}. I am {0} years old'.format(31, name='Khosro')
print(text)
print('-'*50)

text = 'My name is {name}. I am {0} years old'
text = text.format(31, name='Khosro')
print(text)
print('-'*50)

My name is Khosro. I am 31 years old
--------------------------------------------------
My name is Khosro. I am 31 years old
--------------------------------------------------
My name is Khosro. I am 31 years old
--------------------------------------------------
My name is Khosro. I am 31 years old
--------------------------------------------------

### Not Best Practice
- **positional and keyword argument with `list`**

In [ ]:
my_names = ['Khosro', 'Ali']
my_ages = [31, 30]


text = '{0[0]} is {1[0]}, {0[1]} is {1[1]}'
text = text.format(my_names, my_ages)
print(text)
print('-'*50)


text = '{name[0]} is {age[0]}, {name[1]} is {age[1]}'
text = text.format(name=my_names, age=my_ages)
print(text)
print('-'*50)

---

## `!conversion` component of `{}`
Representation of any object:
- `!s` convert with `str()` \_\_str__
- `!r` convert with`repr()` \_\_repr__
- `!a` convert with `ascii()` \_\_ascii__

In [40]:
text = 'My name is {!r}. I am {!r} years old'.format('Khosro', 31)
print(text)
print('-'*50)


text = 'My name is {name!r}. I am {age!s} years old'
text = text.format(age=31, name='Khosro')
print(text)
print('-'*50)

My name is 'Khosro'. I am 31 years old
--------------------------------------------------
My name is 'Khosro'. I am 31 years old
--------------------------------------------------

## `:format_spec` component of `{}`
`:[[<fill>]<align>][<width>][<group>][.<prec>][<type>]`

|Subcomponent | Effect|
|:--|:--|
|`<fill>` | Specifies how to pad values that don’t occupy the entire field width|
|`<align>` | Specifies how to justify values that don’t occupy the entire field width `<`, `>`, `^`|
|`<width>` | Specifies the minimum width of the output|
|`<group>` | Specifies a grouping character for numeric output `_`, `,`|
|`.<prec>` | Specifies the number of digits after the decimal point for floating-point presentation types, and the maximum output width for string presentations types |
|`<type>` | Specifies the presentation type, which is the type of conversion performed on the corresponding argument|

### `type`

| Value | Presentation Type |
|:--|:--|
| `f` or `F` | Floating point |
| `d` | Decimal integer |
| `b` | Binary integer |
| `o` | Octal integer |
| `x or X` | Hexadecimal integer |
| `e` or `E` | Exponential |
| `g` or `G` | Floating point or Exponential |
| `s` | String |
| `c` | Single character |
| `%` | Percentage |

In [56]:
print('b: {:b}'.format(4382))
print('d: {:d}'.format(4382))
print('f: {:f}'.format(4382))
print('e: {:e}'.format(4382))
print('g: {:g}'.format(4382))
print('x: {:x}'.format(4382))
print('%: {:%}'.format(4382)) # multily by 100 with % sign

b: 1000100011110
d: 4382
f: 4382.000000
e: 4.382000e+03
g: 4382
x: 111e
%: 438200.000000%

In [106]:
print('d: {:014d} is '.format(4382))
print('d: {:14,d} is '.format(43821987))
print('s: {:*^14s} is'.format('Khosro'))
print('f: {:*<14.2f} is'.format(4382))
print('f: {:-<14.2f} is'.format(1234.123456))

d: 00000000004382 is
d:     43,821,987 is
s: ****Khosro**** is
f: 4382.00******* is
f: 1234.12------- is

In [110]:
d = {
    'first name': 'Khosro',
    'last name': 'HosseinAbadi',
    'age': 31,
    'height': 182.4568711,
    'money': 125_453_145,
}

In [123]:
for k, v in d.items():
    text = '{:10} : {}'.format(k, v)
    print(text)

first name : Khosro
last name  : HosseinAbadi
age        : 31
height     : 182.4568711
money      : 125453145

In [134]:
float_nums = [
    2547777.12966,
    125.12356,
    987777.1236547899,
]
for num in float_nums:
    print('{:+>10.2f}'.format(num))

2547777.13
++++125.12
+987777.12

In [156]:
int_nums = [
    25477772512966,
    125516,
    9877771236547899,
]
for num in int_nums:
    print('{:*>25_d}|'.format(num))

*******25_477_772_512_966|
******************125_516|
****9_877_771_236_547_899|

In [1]:
str_list = [
    'HosseinAbadi',
    'learning',
    'Python',
    'in',
    'Pytopia',
]
for word in str_list:
    print('{:-<9.9s}|'.format(word))
print()
for word in str_list:
    print(f'{word:-<9.9s}|')

HosseinAb|
learning-|
Python---|
in-------|
Pytopia--|

ValueError: Cannot specify '_' with 's'.