In [6]:
x = 12
if x > 5:
    print(x)
elif x == 12:
    print('x = ' , x)
else:
    print('out of range', x)

12

In [10]:
x = 0
while x <= 10:
    if x == 6:
        print('x = ' , x)
        break
    print(x)
    x += 1

0
1
2
3
4
5
x =  6

In [1]:
x = 0
while x <= 10:
    if x == 6:
        print('x = ' , x)
        x += 1
        continue
    print(x)
    x += 1

0
1
2
3
4
5
x =  6
7
8
9
10

In [3]:
for i in range(1 , 21):
    print('squre ', i ,' is = ' , i**2)

squre  1  is =  1
squre  2  is =  4
squre  3  is =  9
squre  4  is =  16
squre  5  is =  25
squre  6  is =  36
squre  7  is =  49
squre  8  is =  64
squre  9  is =  81
squre  10  is =  100
squre  11  is =  121
squre  12  is =  144
squre  13  is =  169
squre  14  is =  196
squre  15  is =  225
squre  16  is =  256
squre  17  is =  289
squre  18  is =  324
squre  19  is =  361
squre  20  is =  400

In [4]:
x = ['khosro', 'ali', 'reza', 'mahdi', 'nahid',]
for name in x:
    print('name = ', name)

name =  khosro
name =  ali
name =  reza
name =  mahdi
name =  nahid